* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

.ok:hover {
    color: burlywood;
}
.warning:hover {
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 30px;
    align-items: center;
    height: 50px;
    color: aliceblue;
    background-color: #281822;
    transition: 0.5s;

    .zagolovok {
        transition: 0.5s;
        a {
            font-size: 30px;
            font-family: 'JetBrains Mono', monospace; 
            font-weight: 300;  
        }
    }

    .zagolovok:hover {
        a {
            color: yellow;
        }
        transform: scale(1.05);
        cursor: pointer;
    }
    .user_auth {
        font-size: 20px;
        transition: 0.5s;
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        font-family: 'Montserrat', sans-serif;

        #create_voting:hover {
            color: yellow;
        }

        #login:hover {
            transition: 0.5s;
            color: red;
        }

        #register:hover {
            transition: 0.5s;
            color: blue;
        }

        #profile:hover {
            transition: 0.5s;
            color: red;
        }
    }
}

body {
    background-color: #D3CBC4;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Montserrat', monospace;
    text-align: center;
    gap: 20px;

    .varios {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        a {
            cursor: pointer;
            color: black;
            font-size: 20px;
        }

        .ok:hover {
            color: greenyellow;
        }
    }
}