html, body {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.avatar_container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .avatar {
        background-image: url(../images/default_profile.png);
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 200px;
        border: 2px solid black;
    }

    .username {
        p {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 30px;
        }
    }
}

.profile-container {
    margin-top: 20px;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #333;
    font-weight: 400;
    border-bottom: 2px solid #281822;
}
.profile-info {
    width: 60%;
}
.profile-info label {
    font-weight: bold;
    display: block;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
}
.profile-info p {
    margin: 5px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.actions {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    a {
        transition: 0.2s;
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
}

.vote_list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    height: 50px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
    transition: 0.4s;
}

.vote_list:hover {
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}

@media (max-width: 660px) {
    header {
        height: 100px;
    }
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .profile-container {
        margin-top: 100px;
    }
    .profile-info {
        width: 100%;
    }
}