main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.survey {
    margin-top: 50px;
    width: 90%;
    max-width: 800px;
    border-radius: 15px;
    height: 50%;
    .survey_name {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50px;
        background-color: #204952;
        color: white;
    }
    h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }
}

.form_container {
    height: auto;
    padding: 20px;
    background-color: #48192e5e;
}

.form_action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
    height: auto;
    margin-top: 20px;
    label {
        color: white;
        font-size: 20px;
        font-family: "JetBrains Mono", monospace;
    }
    input {
        border-radius: 20px;
        background-color: #D3CBC4;
        height: 15px;
        width: 60%;
        max-width: 300px;
        color: black;
        padding: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
    }
    button {
        transition: 0.3s;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
        padding: 6px;
        width: 200px;
        cursor: pointer;
        font-size: 17px;
        align-self: center;
    }
    button:hover {
        background-color: greenyellow;
    }
}

.poll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    width: 100%;
    border-bottom: 2px solid rgba(245, 245, 245, 0.622);
}

.polls_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
    background-color: #281822;
}

.message {
    margin: 0;
    color: greenyellow;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    width: 60%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 15px;
    padding: 15px 0px;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    max-width: 200px;
    background-color: black;
    margin: 5px;
    padding: 7px;
    border-radius: 20px;
    min-width: 70px;
}

.poll_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #d4ff0057;
    padding: 10px 0px 10px 0px;
}

.polls_list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    width: 90%;
    border: 2px solid rgba(245, 245, 245, 0.622);
}

.create_poll {
    color: black;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
}

.typing {
    display: flex;
    gap: 20px;

    input {
        max-width: 200px;
    }

    button {
        width: 110px;
    }
}

.create_poll_button {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;

    button {
        transition: 0.3s;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
        padding: 6px;
        width: 200px;
        cursor: pointer;
        font-size: 17px;
        align-self: flex-end;
        background-color: white;
    }
    button:hover {
        background-color: greenyellow;
    }
}