<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    {% include "base/head.html" with title="Home"%}
    <link rel="stylesheet" href="{% static 'styles/homepage.css' %}" />
    <title>VoteCraft</title>
  </head>
  <body>
    {% include "base/header.html" %}
    <main>

      <div class="main d-flex justify-content-between p-5">
        <div class="blockinfo">
          <div class="h1"><b>Опросы для сбора информации</b></div>
          <p class="slogan">
            Легко создавайте опросы и анализируйте их результаты.
          </p>
          <button type="button" class="btn btn-primary btn-sm" onclick="document.location='/register'">
            Зарегистрироваться
          </button>
        </div>
        <img class="image2" src="{% static 'images/Group2.png' %}" />
      </div>

      <div class="divAbilities">
        <h2><b>Возможности у нас есть, но мы не придумали про какие именно мы хотим рассказать. </b></h2>
      


      <div class="container mt-5">
        <button id="toggleButton" class="btn btn-primary">
          Показать что мы можем
        </button>
        <div class="options-list mt-3">
          <ul class="list-group">
            <li class="list-group-item">Мы можем вот это</li>
            <li class="list-group-item">А еще вот это</li>
            <li class="list-group-item">А еще мы вот так умеем</li>
            <li class="list-group-item">А также вот так вот</li>
          </ul>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script>
          $(document).ready(function() {
              $('#toggleButton').click(function() {
                  $('.options-list').slideToggle(); // Разворачиваем/сворачиваем список
                  $(this).text($(this).text() === 'Скрыть возможности' ? 'Показать возможности' : 'Скрыть возможности'); // Меняем текст кнопки
              });
          });
      </script>
      </div>


      <div class="emails">
        <p class = "subscription"><h1 ><b>Подписка на рассылку VoteCraft!</b></h1>
         Получайте новости об обновлениях на вашу почту!</p>
      
      <form class="input">
        <input type="text" id = "email" placeholder="Введите ваш email">
      </form>
      <button type="button" class="btn btn-outline-light subscribe-button">Подписаться!</button>

    </div>
    </main>

    <footer>
          <div class="footer-content">
              <img class="image-footer" src="{% static 'images/logo-Photoroom.png' %}" alt="Logo" />
              <p>Built by MSHP students.<br>
                  2025 VoteCraft. All rights reserved.
              </p>
          </div>
    </footer>
    
  </body>
</html>
