<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "base/head.html" with title="Profile"%}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
</head>
<body>
    {% include "base/header.html"%}
    <main>
        <div class="profile-container">
            <div class="profile_zag">
                <h1>Профиль пользователя</h1>
            </div>
            <div class="profile">
                <div class="avatar_container">
                    <div class="avatar"></div>
                    <div class="username">
                        <p>{{ user.username }}</p>
                    </div>
                </div>
                <div class="profile-info">
                    <label>Дата регистрации:</label>
                    <p>{{ user.date_joined }}</p>

                    <label>Последнее посещение:</label>
                    <p>{{ user.last_login }}</p>

                    <label>Действия:</label>
                    <div class="actions">
                        <a class="ok" href="/user/edit_profile">Редактировать профиль</a>
                        <a class="warning" href="/logout">Выйти из аккаунта</a>
                        <a class="warning" href="/delete/user">Удалить аккаунт</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vote_list" onclick="window.location.href='{% url 'vote_list'%}'">
            <h3>Мои опросы</h3>
        </div>
    </main>
</body>
</html>