<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include "base/head.html" with title="Create Poll"%}
    <link rel="stylesheet" href="{% static 'styles/survey_create.css' %}">
</head>

<body>
    {% include "base/header.html" %}
    <main>
        {% block content %}
        <div class="survey">
            <div class="survey_name">
                <h2>{{survey_name}}</h2>
            </div>
            <div class="polls_container">
                <form method="post">
                    {% csrf_token %}
                    <label>Имя опроса</label>
                    <div class="form_action">
                        <input name="question">
                        <button type="submit">Создать</button>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
    </main>
</body>