<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% include "base/head.html" with title="Voting"%}
    <link rel="stylesheet" href="{% static 'styles/vote.css' %}">
</head>
<body>
    {% include "base/header.html" %}
    {% block content %}
    <main>
        <div class="vote_form">
            <div class="vote_form_header">
                <h1>{{survey.name}}</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                {% for voting in polls %}
                <div class="voting_question">
                    <h1>{{ voting.question }}</h1>
                </div>
                <div class="voting_choices">
                    {% for choice in voting.choices.all %}
                    <div class="choice">
                        <input class="choice_input" type="radio" name="choice_{{ voting.id }}" id="choice{{ forloop.counter }}_{{ voting.id }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}_{{ voting.id }}">{{ choice.choice_text }}</label><br>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <input type="submit" value="Голосовать!" class="vote_action">
            </form>
            {% endblock %}
        </div>
    </main>
</body>
</html>